<div>
  <div class="row mb-3">
    <div class="col-lg-6">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
      </mat-form-field>
    </div>
    <div class="col-lg-6 text-right">
      <button
        mat-button
        class="buttonDesign mt-2"
        (click)="goto('home/employee/addEmployee')"
      >
        <mat-icon class="material-icons"> add </mat-icon> Add New Employee
      </button>
    </div>
  </div>
  <table
    mat-table
    [dataSource]="employeeDataSource"
    matSort
    class="mat-elevation-z8 mat-table"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">
        <span [matTooltip]="element?.name">
          {{ element?.name | titlecase | slice : 0 : 30 }}
          <span *ngIf="element?.name?.length > 30">...</span>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">{{ element?.department }}</td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef>Salary</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.salary | currency : "INR" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="task">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td mat-cell *matCellDef="let element">
        <span [matTooltip]="element?.task">
          {{ element?.task | slice : 0 : 30 }}
          <span *ngIf="element?.task?.length > 30">...</span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="taskStatus">
      <th mat-header-cell *matHeaderCellDef>Task Status</th>
      <td mat-cell *matCellDef="let element">{{ element?.taskStatus }}</td>
    </ng-container>

    <ng-container matColumnDef="manager">
      <th mat-header-cell *matHeaderCellDef>Manager</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.manager | titlecase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let empIndex = index">
        <mat-icon
          class="material-icons"
          matTooltip="Edit"
          class="cursor-pointer mr-2"
          (click)="editEmployeee(element, empIndex)"
        >
          edit
        </mat-icon>
        <mat-icon
          class="material-icons"
          matTooltip="Delete"
          class="cursor-pointer"
          (click)="this.openDeleteDialog(empIndex)"
        >
          delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsName"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsName"></tr>
  </table>

  <div *ngIf="employeeDataSource?.data?.length == 0" class="data-not-found-div">
    No Data Available
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    class="mt-4"
    *ngIf="employeeDataSource?.data?.length != 0"
  >
  </mat-paginator>
</div>
